{% extends 'template.html.twig' %}

{% block title %}{{ prenom }} {{ nom }}{% endblock %}

{% block body %}
    <h1>With love from {{ prenom }} {{ nom }}</h1>
    <p>Bonjour Techwall Sf6</p>
    Mon Url absolue est : {{ url('app_first') }}
{#<img src="{{ asset('assets/images/') ~ path|defaultImage }}" alt="">#}
{% endblock %}
